:root {
    --main-bg-color: navy;
    --main-txt-color: white;  
    --main-padding: 10px;  
    --main-body-bg-color: lightgray;
    --machine-bg-color:lightcoral;
    --member-bg-color:lightblue;
    --instructor-bg-color:lightgreen;
  }
input:read-only {
    /* background-color: #ccc; */
    color:green;
}
input:read-write {
    color:blue;
}
/* Phone layout (default) */
@media only screen and (max-width:600px) {
    body {
        background-color: var(--main-body-bg-color);
        height:100%;
        width:100%;
        text-align:center;
        background-color: aqua;
    }
}
    .parent {
        display: grid;
        grid-template-columns: 375px;
        grid-template-rows: 40px 30px 30px 30px 30px 50px 550px 50px;
        grid-template-areas:"hdgArea" 
                            "versionArea"
                            "locationSelectorArea"
                            "machineSelectorArea"
                            "memberSelectorArea"
                            "instructorSelectorArea"
                            "detailArea"
                            "footerArea";
        grid-gap:0em;
        background-color: aqua; 
        height:100%;
        width:100%;              
    }
    .heading {
        grid-area: hdgArea;
        display:grid;
        padding-top: 0px;
        padding-bottom:0px;
        text-align: center;
        background-color:navy;
        color: var(--main-txt-color);
        width:100%;
    }

    .version {
        grid-area:versionArea;
        font-size:.75rem;
        padding-top:3px;
        text-align:center;
        background-color: navy;
        color:white;
    }
    
    #locationSelector {
        grid-area:locationSelectorArea;
        padding-top:5px;
        padding-bottom:0px;
        padding-left:0px;
        text-align: center;
        margin-left:200px;
        border:2px solid yellow;
    }
    #locationSelected {
        width:100px;
    }
    #machineSelector {
        grid-area:machineSelectorArea;
        padding-top:5px;
        padding-bottom:0px;
        padding-left:0px;
        margin:auto;
    }
    #machineSelected {
        width:200px;
    }
    
    #memberSelector {
        grid-area:memberSelectorArea;
        padding-top:5px;
        padding-bottom:0px;
        padding-left:0px;
        margin:auto;
        margin-top:5px;
        margin-left:5px;
    }                         
    #memberSelected {
        width:280px;
    }

    .instructorSelector {
        grid-area:instructorSelectorArea;
        padding-top:5px;
        padding-bottom:0px;
        padding-left:10px;
        margin:auto;
        margin-top:5px;
    }                         
    #instructorSelected {
        width:280px;
    }

    #machineDetailSection {
        grid-area:detailArea;
        background-color: coral;
        padding-top:10px;
        margin-top:10px;
        height:100%;
        width:100%;
        margin:auto;
        overflow:auto;
        /* display:none; */
    }
    .machineDescription {
        text-align: center;
        background-color: white;
        color:salmon;
        margin-left:10px;
        margin-right:10px;
    }
    .instructorListHdg {
        text-align:left;
        margin-left: 50px;
    }
    .noInstructors {
        text-align: left;
        margin-left:70px;
    }
    .instructorName {
        text-align:left;
        width:300px;
        margin-left:70px; 
    }
    .memberListHdg {
        text-align: left;
        padding-top:30px;
        margin-left:50px;
    }
    .noMembers {
        text-align: left;
        margin-left:70px;
    }
    .certifiedMemberName {
        text-align: left;
        margin-left:70px;
    }
    .machineUsageHdg {
        text-align:left;
        margin-top:20px;
        margin-left:50px;
    }
    .noUsage {
        text-align: left;
        margin-left:70px;
    }
    .usageDateAndName {
        text-align: left;
        font-size: .75rem;
        margin-left:20px;
    } 
    
    #memberDetailSection {
        grid-area:detailArea;
        background-color: aquamarine;
        padding-top:10px;
        margin-top:10px;
        height:600px;
        width:100%;
        margin:auto;
        font-size:small;
        overflow: auto;
        /* display:none; */
    }
    .memberName {
        margin-left:30px;    
    }
    
    #instructorDetailSection {
        grid-area:detailArea;
        background-color: lightgreen;
        padding-top:10px;
        margin-top:10px;
        height:100%;
        width:100%;
        margin:auto;
        overflow:auto;
        font-size: .75rem;
        /* display:none; */
    }
    #instructorData {
        margin-left:100px;
    }
    .instructorNameHdg {
        text-align: center;
        background-color: white;
        color:green;
        margin-left:10px;
    }
    #instructorMachines {
        padding-left: 30px;
        margin-left: 40px;
    }
    .instrMachHdg {
        font-size:.75rem;
        text-align: left;
        margin-left:10px;
    }
    .instrMachRow {
        padding-left:30px;
    }

    #instructorMachinesDetail {
        padding-left: 20px;

    }
    .headings {
        text-align:center;
    }
    #footer {
        align-items: center;
        grid-area: footerArea;
        background-color: navy;
    }


/* iPad portrait (810x1080) and Kindle fire (800x1280)*/
@media (min-width: 768px) {
    body {
        background-color: var(--main-body-bg-color);
        height:1280;
        width:100%;
        text-align:center;
    }
    .parent {
        width:100%;
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 40px 30px 30px 30px 30px 50px 1040px 30px;
        grid-template-areas: "hdgArea"
                            "versionArea"
                             "locationSelectorArea"
                             "machineSelectorArea"
                             "memberSelectorArea"
                             "instructorSelectorArea"
                             "detailArea"
                             "footerArea";  
        gap:0px;
        margin:0 0; 
        background-color:var(--machine-bg-color);
        /* background-color: lightcoral; */
        overflow-y: hidden;
        
    }
    .heading {
        grid-area: hdgArea;
        display:grid;
        padding-top: 0px;
        padding-bottom:0px;
        padding-left:20px;
        text-align: center;
        background-color:navy;
        color: var(--main-txt-color);
    }

    .version {
        grid-area:versionArea;
        font-size:.75rem;
        text-align:center;
        padding-top:7px;
        background-color: navy;
        color:white;
        padding-right:20px;
    }
    #locationSelector {
        grid-area:locationSelectorArea;
        padding-top:15px;
        padding-bottom:0px;
        text-align: center;
        margin:auto;
        margin-left:200px;
        margin-top:15px;
        
    }
    #machineSelector {
        grid-area:machineSelectorArea;
        padding-top:15px;
        padding-bottom:0px;
        margin:0px;
        margin-top:15px;
        margin-left:10px;
        
    }
    /* #machineSelected {
        width:300px;
    } */
    
    #memberSelector {
        grid-area:memberSelectorArea;
        padding-top:15px;
        padding-bottom:0px;
        margin:0px;
        margin-top:15px;
    }                         
    #memberSelected {
        width:300px;
    }
    /* #memberSection {
        grid-area:memberSelectorArea;
        font-size:medium;
    } */
    /* #memberMachines {
        grid-area: detailArea;

    } */
    .instructorSelector {
        grid-area:instructorSelectorArea;
        padding-top:15px;
        padding-bottom:0px;
        padding-left:0px;
        margin:0;
        margin-top:15px;
    }                         
    #instructorSelected {
        width:300px;
    }
    #memberDetailSection {
        height:100%;
        width:100%;
    }
    #machineDetailSection {
        height:600px;
        width:100%;
    }
    #machineDescription {
        background-color: white;
        color:navy;
        margin-top:5px;
    }
    /* #keyInToolCrib {
        border:1px solid red;
        background-color: blue;
        color:white;
    }
    #keyProvider {
        border:1px solid fuchsia;
    } */
    #instructorDetailSection {
        height:100%;
        width:100%;
        font-size: 1rem;
        margin-left: 20px;

    }
    #footer {
        grid-area: footerArea;
        background-color: navy;
        color:white;
    }
}

/* Laptop size */
@media (min-width: 1280px) {
    .parent {
        width:100%;
        height: 100%;
        display: grid;
        grid-template-columns:.5fr 1fr 1fr 1fr;
        grid-template-rows: 50px 50px 1fr;
        grid-template-areas:"hdgArea hdgArea hdgArea versionArea"
                            "locationSelectorArea machineSelectorArea memberSelectorArea instructorSelectorArea" 
                            ".machineDetailArea memberDetailArea instructorDetailArea"
                            "footerArea footerArea footerArea footerArea";
        gap:0px;
        background-color:lightgray;
        top:0; bottom:0; left:0; right:0;
    }
    .heading {
        grid-area: hdgArea;
        padding-top: 3px;
        padding-bottom:0px;
        padding-left:10px;
        text-align: left;
        background-color:navy;
        color: var(--main-txt-color);
    }

    .version {
        grid-area:versionArea;
        font-size:.75rem;
        padding-top:10px;
        padding-right:10px;
        align-items: center;
        text-align: right;
        background-color: navy;
        color:white;
    }

    .locationSelector {
        grid-area:locationSelectorArea;
        padding-top:10px;
        padding-bottom:0px;
        margin:0;
        padding-left:5px;
        width:100%;
    }
    .machineSelector {
        grid-area:machineSelectorArea;
        background-color: lightcoral;
        background-color:var(--machine-bg-color);
        padding-top:5px;
        padding-bottom:0px;
        margin:0;
        width:100%;
    }
    /* #machineSelector {
        background-color: lightcoral;
    } */
    

    /* #machineSelected {
        padding-left:100px;
        width:500px;
    } */
    .memberSelector {
        grid-area:memberSelectorArea;
        background-color: lightblue;
        padding-top:5px;
        padding-bottom:0px;
        margin:0;
        width:100%;
    }
    /* #memberSelector {
        grid-area:memberSelectorArea;
        padding-top:0px;
        padding-bottom:0px;
        margin:0;
        width:100%;
    } */
    #memberSelected {
        width:300px;
    }

    .instructorSelector {
        grid-area:instructorSelectorArea;
        background-color: lightgreen;
        padding-top:5px;
        padding-bottom:0px;
        margin:0;
        width:100%;
    }                         
    #instructorSelected {
        width:300px;
    }
    
    #machineDetailSection {
        grid-area:machineDetailArea;
        background-color: lightcoral;
        background-color:var(--machine-bg-color);
        padding-top:10px;
        margin-top:0px;
        display:block;
        height:1000px;
        width:100%;
        overflow:auto;
        font-size: 1rem;
    }
    #machineDescription {
        background-color: white;
        color:navy;
        margin-top:5px;
    }
    /* #keyInToolCrib {
        border:1px solid red;
        background-color: blue;
        color:white;
    }
    #keyProvider {
        border:1px solid fuchsia;
    } */
    .certifiedMemberName {
        text-align: left;
        margin-left:70px;

    }
    .usageDateAndName {
        text-align: left;
        width:400px;
        margin-left:60px;
        font-size: 1rem;
    }
    /* .usageMemberName {
        width:200px;
        color:red;
    } */
    #memberDetailSection {
        grid-area:memberDetailArea;
        background-color: lightblue;
        text-align:center;
        padding-top:10px;
        margin-top:0px;
        display:block;
        font-size:1rem;
        height:1000px;
        width:100%;
        overflow:auto
    }
    /* #memberMachines {
        grid-area:detail2Area;
        background-color: aliceblue;
    } */

    /* #memberData {
        width:100%;
    } */
    #instructorDetailSection {
        grid-area:instructorDetailArea;
        background-color: lightgreen;
        text-align:center;
        padding-top:10px;
        margin:auto;
        margin-top:0px;
        height:1000px;
        width:100%;
        display:block;
        overflow:auto;
        font-size: 1rem;
    }
    /* #instructorMachines {
        margin-left:30px;
        margin-right:0px;
        padding-bottom: 200px;
    } */

    .instrMachHdg {
        font-size:.75rem;
        text-align: left;
        margin-left:10px;
    }
    .instrMachRow {
        padding-left:30px;
    }
    
    #footer {
        grid-area: footerArea;
        background-color: navy;
    }
}



/* Macbook Pro 2560 x 1600 */
@media (min-width: 1440px) {
    .parent {
        width:100%;
        height: 780px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 50px 650px 40px;
        grid-template-areas:"hdgArea locationArea versionArea"
                            "machineSelectorArea memberSelectorArea instructorSelectorArea" 
                            "machineDetailArea memberDetailArea instructorDetailArea"
                            "machineFooterArea memberFooterArea instructorFooterArea";
        gap:0px;
        background-color:lightgray;
        top:0; bottom:0; left:0; right:0;
        overflow-y:hidden;
    }
    .heading {
        grid-area: hdgArea;
        padding-top: 3px;
        padding-bottom:0px;
        padding-left:10px;
        text-align: left;
        background-color:navy;
        color: var(--main-txt-color);
    }

    .version {
        grid-area:versionArea;
        font-size:.75rem;
        padding-top:10px;
        padding-right:10px;
        align-items: center;
        text-align: right;
        background-color: navy;
        color:white;
    }

    .locationSelector {
        grid-area:locationArea;
        padding-top:10px;
        padding-bottom:0px;
        margin:0;
        padding-left:5px;
        width:100%;
        text-align: center;
        background-color:navy;
        color: var(--main-txt-color);
    }
    .machineSelector {
        grid-area:machineSelectorArea;
        background-color: lightcoral;
        background-color:var(--machine-bg-color);
        padding-top:5px;
        padding-bottom:0px;
        margin:0;
        width:100%;
    }
    /* #machineSelector {
        background-color: lightcoral;
    } */
    

    /* #machineSelected {
        padding-left:100px;
        width:500px;
    } */
    .memberSelector {
        grid-area:memberSelectorArea;
        background-color: lightblue;
        padding-top:5px;
        padding-bottom:0px;
        padding-left:30px;
        margin:0;
        width:100%;
    }
    /* #memberSelector {
        grid-area:memberSelectorArea;
        padding-top:0px;
        padding-bottom:0px;
        margin:0;
        width:100%;
    } */
    #memberSelected {
        width:300px;
    }

    .instructorSelector {
        grid-area:instructorSelectorArea;
        background-color: lightgreen;
        padding-top:5px;
        padding-bottom:0px;
        padding-left:30px;
        margin:0;
        width:100%;
    }                         
    #instructorSelected {
        width:300px;
    }
    
    #machineDetailSection {
        grid-area:machineDetailArea;
        background-color: lightcoral;
        background-color:var(--machine-bg-color);
        padding-top:0px;
        margin-top:0px;
        display:block;
        height:1450px;
        width:100%;
        overflow:auto;
    }
    #machineDescription {
        background-color: white;
        color:green;
        margin-top:5px;
    }
    #machineBtns {
        align-content: center;
        margin-bottom:5px;
    }
    /* #authorizationDuration {
        background-color: white;
        color:green;
    }
    #keyInToolCrib {
        background-color: white;
        color:green;
    }
    #keyProvider {
        background-color: white;
        color:green;
    } */

    .usageDateAndName {
        text-align:left;
        width:400px;
        margin-left:60px;
    }
    /* .usageMemberName {
        width:200px;
        color:red;
    } */
    #memberDetailSection {
        grid-area:memberDetailArea;
        background-color: lightblue;
        text-align:center;
        padding-top:10px;
        margin-top:0px;
        display:block;
        font-size:large;
        height:1450px;
        width:100%;
        overflow:auto
    }
    .memberNameHdg {
        background-color: white;
        margin-left:10px;
        margin-right:10px;
    }
    /* #memberMachineList {
        font-size: .75rem;
    } */
    .mbrMachRow {
        margin-left:10px;
        padding-left:0px;
        font-size: .75rem;
        height:30px;
    }
    
    .expired {
        text-decoration: line-through;
        background-color: yellow;
    }

    /* .certifyChkbox {
        font-size: .75rem;
    } */
    #instructorDetailSection {
        grid-area:instructorDetailArea;
        background-color: lightgreen;
        text-align:center;
        padding-top:10px;
        margin:auto;
        margin-top:0px;
        height:1450px;
        width:100%;
        display:block;
        overflow:auto;
    }
    #instructorData {
        margin-left:0px;
    }
    .instructorNameHdg {
        text-align: center;
        background-color: white;
        color:green;
        margin-left:10px;
        margin-right:10px;
    }
    .contactData {
        margin-left:100px;
    }
    .instrMachHdg {
        font-size:.6rem;
        text-align: center;
        margin-left:2px;
    }
    .instrMachRow {
        padding-left:10px;
    }
    #instructorMachines {
        padding-left: 10px;
        margin-left: 10px;
        font-size: 1rem;
    }
    #machineFooter {
        grid-area: machineFooterArea;
        text-align: center;
        color:white;
        background-color: navy
    }
    #memberFooter {
        text-align: center;
        grid-area: memberFooterArea;
        color:white;
        background-color: navy
    }
    #instructorFooter {
        text-align: center;
        grid-area: instructorFooterArea;
        color:white;
        background-color: navy
    }
}

/* Monitor 1920x1080 */
@media (min-width: 1920px) {
    .parent {
        width:100%;
        height: 980px;
        display: grid;
        grid-template-columns:.5fr 1fr 1fr 1fr;
        grid-template-rows: 50px 50px 840px 40px;
        grid-template-areas:"hdgArea hdgArea hdgArea versionArea"
                            "locationSelectorArea machineSelectorArea memberSelectorArea instructorSelectorArea" 
                            ".machineDetailArea memberDetailArea instructorDetailArea"
                            "footerArea machineFooterArea memberFooterArea instructorFooterArea";
        gap:0px;
        background-color:lightgray;
        top:0; bottom:0; left:0; right:0;
        overflow-y:hidden;
    }
    .heading {
        grid-area: hdgArea;
        padding-top: 3px;
        padding-bottom:0px;
        padding-left:10px;
        text-align: left;
        background-color:navy;
        color: var(--main-txt-color);
    }

    .version {
        grid-area:versionArea;
        font-size:.75rem;
        padding-top:10px;
        padding-right:10px;
        align-items: center;
        text-align: right;
        background-color: navy;
        color:white;
    }

    .locationSelector {
        grid-area:locationSelectorArea;
        padding-top:10px;
        padding-bottom:0px;
        margin:0;
        padding-left:5px;
        width:100%;
    }
    .machineSelector {
        grid-area:machineSelectorArea;
        background-color: lightcoral;
        background-color:var(--machine-bg-color);
        padding-top:5px;
        padding-bottom:0px;
        margin:0;
        width:100%;
    }
    
    .memberSelector {
        grid-area:memberSelectorArea;
        background-color: lightblue;
        padding-top:5px;
        padding-bottom:0px;
        padding-left:100px;
        margin:0;
        width:100%;
    }
   
    #memberSelected {
        width:300px;
    }

    .instructorSelector {
        grid-area:instructorSelectorArea;
        background-color: lightgreen;
        padding-top:5px;
        padding-bottom:0px;
        padding-left:100px;
        width:100%;
    }                         
    #instructorSelected {
        width:300px;
    }
    
    #machineDetailSection {
        grid-area:machineDetailArea;
        background-color:var(--machine-bg-color);
        
        padding-top:10px;
        margin-top:0px;
        display:block;
        width:100%;
        height:1000px;
        overflow:auto;
        font-size: 1rem;
    }
    .instructorListHdg {
        text-align:left;
        margin-left: 90px;
    }
    .noInstructors {
        text-align: left;
        margin-left:110px;
    }
    .instructorName {
        text-align:left;
        width:300px;
        margin-left:110px; 
    }
    .memberListHdg {
        text-align: left;
        padding-top:30px;
        margin-left:90px;
    }
    .noMembers {
        text-align: left;
        margin-left:110px;
    }
    .certifiedMemberName {
        text-align: left;
        margin-left:110px;

    }
    .machineUsageHdg {
        text-align:left;
        margin-top:20px;
        margin-left:90px;
    }
    .noUsage {
        text-align: left;
        margin-left:110px;
    }
    .usageDateAndName {
        text-align: left;
        width:400px;
        margin-left:110px;
        font-size: 1rem;
    }
    /* .usageMemberName {
        width:200px;
        color:red;
    } */
    #memberDetailSection {
        grid-area:memberDetailArea;
        background-color: lightblue;
        text-align:center;
        padding-top:10px;
        margin-top:0px;
        display:block;
        font-size:1rem;
        width:100%;
        height:1100px;
        overflow:auto
    }
    /* #memberMachines {
        grid-area:detail2Area;
        background-color: aliceblue;
    } */

    /* #memberData {
        width:100%;
    } */
    #instructorDetailSection {
        grid-area:instructorDetailArea;
        background-color: lightgreen;
        text-align:center;
        padding-top:10px;
        margin:auto;
        margin-top:0px;
        width:100%;
        display:block;
        overflow:auto;
        font-size: 1rem;
    }
    #instructorData {
        margin-left:50px;
    }
    .instructorNameHdg {
        text-align: center;
        background-color: white;
        color:green;
        margin-left:5px;
    }
    #instructorMachines {
        padding-left: 30px;
        margin-left: 40px;
    }
    /* #instructorMachines {
        margin-left:30px;
        margin-right:0px;
        padding-bottom: 200px;
    } */
    .instrMachHdg {
        font-size:.70rem;
        text-align: center;
        margin-left:0px;
    }
    .instrMachRow {
        padding-left:5px;
    }
    
    #footer {
        text-align: center;
        grid-area: footerArea;
        background-color: gray;
    }
}
/* MODAL CSS */
/* .modal-dialog {
    width:900px;
    height:600px !important;
}
.modal-content {
    height:100%;
    background-color:#BBD6EC;
}
.modal-body {
    overflow: scroll;
} */

/* .newMachineLabel {
    text-align:right;
    margin-left:30px;
}
.newMachineData {
    text-align:left;
} */
/* #newMachine .modal-header {
    background-color: green;
    color:white;

} */
/* #newMachine .modal-footer {
    background-color: green;
} */
/* #closeNewMachineModal {
    padding-top:0px;
    margin-top:0px;
} */