:root {
    --main-bg-color: navy;
    --main-txt-color: white;  
    --main-padding: 10px;  
    --main-body-bg-color: lightgray;
  }
/* Phone layout (default) */
@media only screen and (max-width:600px) {
    body {
        background-color: var(--main-body-bg-color);
        height:100%;
        width:100%;
        text-align:center;
        background-color: aqua;
    }
}
    .parent {
        display: grid;
        grid-template-columns: 375px;
        grid-template-rows: 40px 30px 30px 30px 30px 30px 600px;
        grid-template-areas:"hdgArea" 
                            "versionArea"
                            "locationSelectorArea"
                            "machineSelectorArea"
                            "memberSelectorArea"
                            "instructorSelectorArea"
                            "detailArea"
                            "footerArea";
        grid-gap:0em;
        background-color: aqua; 
        height:100%;
        width:100%;              
    }
    .heading {
        grid-area: hdgArea;
        display:grid;
        padding-top: 0px;
        padding-bottom:0px;
        text-align: center;
        background-color:navy;
        color: var(--main-txt-color);
        width:100%;
    }

    .version {
        grid-area:versionArea;
        font-size:.75rem;
        padding-top:3px;
        text-align:center;
        background-color: navy;
        color:white;
    }
    
    #locationSelector {
        grid-area:locationSelectorArea;
        padding-top:5px;
        padding-bottom:0px;
        padding-left:0px;
        text-align: center;
        margin-left:200px;
        border:2px solid yellow;
    }
    #locationSelected {
        width:100px;
    }
    #machineSelector {
        grid-area:machineSelectorArea;
        padding-top:5px;
        padding-bottom:0px;
        padding-left:0px;
        margin:auto;
    }
    #machineSelected {
        width:200px;
    }
    
    #memberSelector {
        grid-area:memberSelectorArea;
        padding-top:5px;
        padding-bottom:0px;
        padding-left:0px;
        margin:auto;
        margin-top:5px;
    }                         
    #memberSelected {
        width:280px;
    }

    #instructorSelector {
        grid-area:instructorSelectorArea;
        padding-top:5px;
        padding-bottom:0px;
        padding-left:0px;
        margin:auto;
        margin-top:5px;
    }                         
    #instructorSelected {
        width:280px;
    }

    #machineDetailSection {
        grid-area:detailArea;
        background-color: coral;
        padding-top:10px;
        margin-top:10px;
        height:100%;
        width:100%;
        margin:auto;
        overflow:auto;
        /* display:none; */
    }
    #machineInstructorsAndMembers {
        padding-top:20px;
        text-align: left;
    }
    .usageDate {
        font-size: .75rem;
    }
/* 
    #InstructorListHdg {
        text-align: center;
        background-color: aqua;
    } */
    #memberDetailSection {
        grid-area:detailArea;
        background-color: aquamarine;
        padding-top:10px;
        margin-top:10px;
        height:600px;
        width:100%;
        margin:auto;
        font-size:small;
        overflow: auto;
        /* display:none; */
    }
    .memberName {
        margin-left:30px;    
    }
    
    #instructorDetailSection {
        grid-area:detailArea;
        background-color: lightgreen;
        padding-top:10px;
        margin-top:10px;
        height:100%;
        width:100%;
        margin:auto;
        overflow:auto;
        font-size: .75rem;
        /* display:none; */
    }
    #instructorData {
        margin-left:100px;
    }
    #instructorMachines {
        padding-left: 30px;
        margin-left: 40px;
    }
    #instructorMachinesDetail {
        padding-left: 20px;

    }
    .headings {
        text-align:center;
    }
    #footer {
        grid-area: footerArea;
        background-color: navy;
    }


.modal-dialog {
    width:900px;
    height:600px !important;
}
.modal-content {
    height:100%;
    background-color:#BBD6EC;
}
.modal-body {
    overflow: scroll;
}

/* iPad portrait */
@media (min-width: 768px) {
    body {
        background-color: var(--main-body-bg-color);
        height:100%;
        width:100%;
        text-align:center;
    }
    .parent {
        width:100%;
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 40px 30px 30px 30px 30px 30px 1060px 30px;
        grid-template-areas: "hdgArea"
                            "versionArea"
                             "locationSelectorArea"
                             "machineSelectorArea"
                             "memberSelectorArea"
                             "instructorSelectorArea"
                             "detailArea"
                             "footerArea";  
        gap:0px;
        margin:0 0; 
        background-color: lightcoral;
        
    }
    .heading {
        grid-area: hdgArea;
        display:grid;
        padding-top: 0px;
        padding-bottom:0px;
        padding-left:20px;
        text-align: center;
        background-color:navy;
        color: var(--main-txt-color);
    }

    .version {
        grid-area:versionArea;
        font-size:.75rem;
        text-align:center;
        padding-top:7px;
        background-color: navy;
        color:white;
        padding-right:20px;
    }
    #locationSelector {
        grid-area:locationSelectorArea;
        padding-top:15px;
        padding-bottom:0px;
        text-align: center;
        margin:auto;
        margin-left:200px;
        margin-top:15px;
        
    }
    #machineSelector {
        grid-area:machineSelectorArea;
        padding-top:15px;
        padding-bottom:0px;
        margin:0px;
        margin-top:15px;
        
    }
    /* #machineSelected {
        width:300px;
    } */
    
    #memberSelector {
        grid-area:memberSelectorArea;
        padding-top:15px;
        padding-bottom:0px;
        margin:0px;
        margin-top:15px;
    }                         
    #memberSelected {
        width:300px;
    }
    /* #memberSection {
        grid-area:memberSelectorArea;
        font-size:medium;
    } */
    /* #memberMachines {
        grid-area: detailArea;

    } */
    #instructorSelector {
        grid-area:instructorSelectorArea;
        padding-top:15px;
        padding-bottom:0px;
        padding-left:0px;
        margin:0;
        margin-top:15px;
    }                         
    #instructorSelected {
        width:300px;
    }
    #memberDetailSection {
        height:100%;
        width:100%;
    }
    #machineDetailSection {
        height:600px;
        width:100%;
    }
    #instructorDetailSection {
        height:100%;
        width:100%;
    }
    #footer {
        grid-area: footerArea;
        background-color: navy;
    }
}

/* Laptop to monitor size */
@media (min-width: 1280px) {
    .parent {
        width:100%;
        height: 100%;
        display: grid;
        grid-template-columns:.5fr 1fr 1fr 1fr;
        grid-template-rows: 50px 50px 1fr;
        grid-template-areas:"hdgArea hdgArea hdgArea versionArea"
                            "locationSelectorArea machineSelectorArea memberSelectorArea instructorSelectorArea" 
                            ".machineDetailArea memberDetailArea instructorDetailArea"
                            "footerArea footerArea footerArea footerArea";
        gap:0px;
        background-color:lightgray;
        top:0; bottom:0; left:0; right:0;
    }
    .heading {
        grid-area: hdgArea;
        padding-top: 3px;
        padding-bottom:0px;
        padding-left:10px;
        text-align: left;
        background-color:navy;
        color: var(--main-txt-color);
    }

    .version {
        grid-area:versionArea;
        font-size:.75rem;
        padding-top:10px;
        padding-right:10px;
        align-items: center;
        text-align: right;
        background-color: navy;
        color:white;
    }

    .locationSelector {
        grid-area:locationSelectorArea;
        padding-top:10px;
        padding-bottom:0px;
        margin:0;
        padding-left:5px;
        width:100%;
    }
    .machineSelector {
        grid-area:machineSelectorArea;
        background-color: lightcoral;
        padding-top:5px;
        padding-bottom:0px;
        margin:0;
        width:100%;
    }
    /* #machineSelector {
        background-color: lightcoral;
    } */
    

    /* #machineSelected {
        padding-left:100px;
        width:500px;
    } */
    .memberSelector {
        grid-area:memberSelectorArea;
        background-color: lightblue;
        padding-top:5px;
        padding-bottom:0px;
        margin:0;
        width:100%;
    }
    /* #memberSelector {
        grid-area:memberSelectorArea;
        padding-top:0px;
        padding-bottom:0px;
        margin:0;
        width:100%;
    } */
    #memberSelected {
        width:300px;
    }

    .instructorSelector {
        grid-area:instructorSelectorArea;
        background-color: lightgreen;
        padding-top:5px;
        padding-bottom:0px;
        margin:0;
        width:100%;
    }                         
    #instructorSelected {
        width:300px;
    }
    
    #machineDetailSection {
        grid-area:machineDetailArea;
        background-color: lightcoral;
        padding-top:10px;
        margin-top:0px;
        display:block;
        height:1000px;
        width:100%;
        overflow:auto;
    }
    .usageDate {
        width:400px;
        margin-left:60px;
    }
    /* .usageMemberName {
        width:200px;
        color:red;
    } */
    #memberDetailSection {
        grid-area:memberDetailArea;
        background-color: lightblue;
        text-align:center;
        padding-top:10px;
        margin-top:0px;
        display:block;
        font-size:large;
        height:1000px;
        width:100%;
        overflow:auto
    }
    /* #memberMachines {
        grid-area:detail2Area;
        background-color: aliceblue;
    } */

    /* #memberData {
        width:100%;
    } */
    #instructorDetailSection {
        grid-area:instructorDetailArea;
        background-color: lightgreen;
        text-align:center;
        padding-top:10px;
        margin:auto;
        margin-top:0px;
        height:1000px;
        width:100%;
        display:block;
        overflow:auto;
    }
    /* #instructorMachines {
        margin-left:30px;
        margin-right:0px;
        padding-bottom: 200px;
    } */

    .instrMachRow {
        padding-left:30px;
    }
    
    #footer {
        grid-area: footerArea;
        background-color: navy;
    }
}
/* Macbook Pro 2560 x 1600 */
@media (min-width: 2560px) {
    .parent {
        width:100%;
        height: 100%;
        display: grid;
        grid-template-columns:.5fr 1fr 1fr 1fr;
        grid-template-rows: 50px 50px 1450px 50px;
        grid-template-areas:"hdgArea hdgArea hdgArea versionArea"
                            "locationSelectorArea machineSelectorArea memberSelectorArea instructorSelectorArea" 
                            ".machineDetailArea memberDetailArea instructorDetailArea"
                            "footerArea footerArea footerArea footerArea";
        gap:0px;
        background-color:lightgray;
        top:0; bottom:0; left:0; right:0;
    }
    .heading {
        grid-area: hdgArea;
        padding-top: 3px;
        padding-bottom:0px;
        padding-left:10px;
        text-align: left;
        background-color:navy;
        color: var(--main-txt-color);
    }

    .version {
        grid-area:versionArea;
        font-size:.75rem;
        padding-top:10px;
        padding-right:10px;
        align-items: center;
        text-align: right;
        background-color: navy;
        color:white;
    }

    .locationSelector {
        grid-area:locationSelectorArea;
        padding-top:10px;
        padding-bottom:0px;
        margin:0;
        padding-left:5px;
        width:100%;
    }
    .machineSelector {
        grid-area:machineSelectorArea;
        background-color: lightcoral;
        padding-top:5px;
        padding-bottom:0px;
        margin:0;
        width:100%;
    }
    /* #machineSelector {
        background-color: lightcoral;
    } */
    

    /* #machineSelected {
        padding-left:100px;
        width:500px;
    } */
    .memberSelector {
        grid-area:memberSelectorArea;
        background-color: lightblue;
        padding-top:5px;
        padding-bottom:0px;
        margin:0;
        width:100%;
    }
    /* #memberSelector {
        grid-area:memberSelectorArea;
        padding-top:0px;
        padding-bottom:0px;
        margin:0;
        width:100%;
    } */
    #memberSelected {
        width:300px;
    }

    .instructorSelector {
        grid-area:instructorSelectorArea;
        background-color: lightgreen;
        padding-top:5px;
        padding-bottom:0px;
        margin:0;
        width:100%;
    }                         
    #instructorSelected {
        width:300px;
    }
    
    #machineDetailSection {
        grid-area:machineDetailArea;
        background-color: lightcoral;
        padding-top:10px;
        margin-top:0px;
        display:block;
        height:1450px;
        width:100%;
        overflow:auto;
    }
    .usageDate {
        width:400px;
        margin-left:60px;
    }
    /* .usageMemberName {
        width:200px;
        color:red;
    } */
    #memberDetailSection {
        grid-area:memberDetailArea;
        background-color: lightblue;
        text-align:center;
        padding-top:10px;
        margin-top:0px;
        display:block;
        font-size:large;
        height:1450px;
        width:100%;
        overflow:auto
    }
    /* #memberMachines {
        grid-area:detail2Area;
        background-color: aliceblue;
    } */

    /* #memberData {
        width:100%;
    } */
    #instructorDetailSection {
        grid-area:instructorDetailArea;
        background-color: lightgreen;
        text-align:center;
        padding-top:10px;
        margin:auto;
        margin-top:0px;
        height:1450px;
        width:100%;
        display:block;
        overflow:auto;
    }
    /* #instructorMachines {
        margin-left:30px;
        margin-right:0px;
        padding-bottom: 200px;
    } */

    .instrMachRow {
        padding-left:30px;
    }
    
    #footer {
        grid-area: footerArea;
        background-color: navy
    }
}