:root {
    --main-bg-color: navy;
    --main-txt-color: white;  
    --main-padding: 10px;  
    --main-body-bg-color: lightgray;
    --machine-bg-color:lightcoral;
    --member-bg-color:lightblue;
    --instructor-bg-color:lightgreen;
    --machine-fg-color:blue;
    --member-fg-color:black;
    --instructor-fg-color:black;
  }
input:read-only {
    /* background-color: #ccc; */
    color:green;
}
input:read-write {
    color:blue;
}
.colorCtrl {
    display:none;
}

/* iPad portrait (810x1080) and Kindle fire (800x1280)*/
/* ONE PANEL AT A TIME, TWO COLUMNS IN EACH PANEL */
@media (min-width: 768px) {
    body {
        background-color: var(--main-body-bg-color);
        height:1280;
        /* height 100% */
        width:100%;
        text-align:center;
    }
    .parent {
        width:100%;
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: 40px 30px 50px 50px 50px 630px 50px;
        grid-template-areas: "hdgArea hdgArea"
                            "locationArea versionArea"
                             "machineSelectorArea machineSelectorArea"
                             "memberSelectorArea memberSelectorArea"
                             "instructorSelectorArea instructorSelectorArea"
                             "detailArea detailArea"
                             "footerArea footerArea";  
        gap:0px;
        margin:0 0; 
        background-color:lightcyan;
        overflow-y: hidden;
        
    }
    .heading {
        grid-area: hdgArea;
        display:grid;
        padding-top: 0px;
        padding-bottom:0px;
        padding-left:20px;
        text-align: center;
        background-color:navy;
        color: var(--main-txt-color);
    }

    .version {
        grid-area:versionArea;
        background-color: navy;
        color:white;
        text-align:right;
        padding-right:20px;
        /* 
        font-size:.75rem;
        align-content: right;
        padding-top:7px;
        
        
        width:100%; */
    }
    .locationSelector {
        grid-area:locationArea;
        background-color: navy;
        color:white;
        padding-left:20px;
    }
    .machineSelector {
        grid-area:machineSelectorArea;
        text-align:center;
        margin:auto;
    }
    #machineSelected {
        width:300px;
    }
    .memberSelector {
        grid-area:memberSelectorArea;
        text-align: center;
        margin:auto;
    }                         
    #memberSelected {
        width:300px;
    }
    
    .instructorSelector {
        grid-area:instructorSelectorArea;
        text-align: center;
        margin:auto;
    }                         
    #instructorSelected {
        width:300px;
    }
    #machineDetailSection {
        grid-area:detailArea;
        background-color: var (--machine-bg-color);
        color: var (--machine-fg-color);
        padding-top:10px;
        margin-top:10px;
        height:100%;
        width:100%;
        margin:auto;
        overflow:auto;
        /* display:none; */
    }
    #machineBtns {
        /* display:none; */
        text-align: center;
    }
    .machineDescription {
        text-align: center;
        background-color: white;
        color:navy;
        border:1px solid navy;
        width:80%;
        margin:auto;
    }

    /* .instructorListHdg {
        text-align:left;
        width:300px;
        padding-top:30px;
        margin:auto;
        border-bottom:1px solid navy;
    } */
    /* .instructorHdgRow {
        margin-left:0px;
        padding-left:0px;
        text-align: left;
    } */
    .staffSection {
        margin-left:200px;
    }
    .instructorListHdg {
        margin-left:0px
    }
    .instructorListDtl {
        margin-left:0px
    }
    /* .instructorNameRow {
        margin-left:200px;
        margin-right:200px;
    } */
    .staffClassificationHdg {
        font-size:.5rem;
    }
    .staffClassification {
        font-size: .5rem;
    }
    .noInstructors {
        text-align:left;
        width:300px;
        margin:auto;
    }
    .instructorName {
        text-align:left;
        width:300px;
        padding-left:30px;
        margin:auto;
    }
    .memberListHdg {
        text-align: left;
        width:300px;
        padding-top:30px;
        margin:auto;
        border-bottom:1px solid navy;
    }
    .certifiedMemberName {
        text-align:left;
        width:300px;
        padding-left:30px;
        margin:auto;    
    } 
    .machineUsageHdg {
        text-align:left;
        width:300px;
        padding-top:30px;
        margin:auto;
        border-bottom: 1px solid navy;
    }
    /* .noUsage {
        text-align: left;
        width:300px;
        padding-left:30px;
        margin:auto;
    } */
    .usageDateAndName {
        text-align: left;
        width:300px;
        padding-left:30px;
        font-size: .75rem;
        margin:auto;
    }
    
   
    #memberDetailSection {
        grid-area:detailArea;
        background-color:var (--member-bg-color);
        color: var (--member-fg-color);
        padding-top:10px;
        margin-top:10px;
        height:100%;
        width:100%;
        margin:auto;
        font-size:small;
        overflow: auto;
    }
    .memberNameHdg {
        background-color: white;
        text-align: center;
        margin:auto;
        width:450px;
        border:1px solid navy;
        font-size: 1rem;
    }
    .certifiedHdg {
        text-align: center;
    }
    #memberMachines {
        grid-area:detail2Area;
        background-color: aliceblue;
        margin:auto;
    }
    /* #machineDescription {
        background-color: white;
        color:navy;
        margin-top:5px;
    } */
    /* #keyInToolCrib {
        border:1px solid red;
        background-color: blue;
        color:white;
    }
    #keyProvider {
        border:1px solid fuchsia;
    } */
    #instructorDetailSection {
        grid-area:detailArea;
        background-color: var (--instructor-bg-color);
        color: var (--instructor-fg-color);
        padding-top:10px;
        margin-top:10px;
        height:100%;
        width:100%;
        margin:auto;
        overflow:auto;
        font-size: 1rem;
        /* display:none; */
    }
    #instructorData {
        margin-left:100px;
    }
    .instructorNameHdg {
        text-align: center;
        background-color: white;
        color:green;
        margin-left:10px;
    }
    #instructorMachines {
        padding-left: 30px;
        margin-left: 40px;
    }
    .instrMachHdg {
        font-size:.75rem;
        text-align: left;
        margin-left:10px;
    }
    .instrMachRow {
        padding-left:30px;
    }

    #instructorMachinesDetail {
        padding-left: 20px;
    }
    /* #instructorDetailSection {
        height:100%;
        width:100%;
        font-size: 1rem;
        margin-left: 20px;

    } */
    /* #footer {
        grid-area: footerArea;
        background-color: navy;
        color:white;
    } */
    #machineFooter {
        grid-area: footerArea;
        display:block;
        padding-top:5px;
        text-align: center;
        color: var (--machine-bg-color);
        background-color: var (--machine-fg-color);
        background-color:lightgray;
    }
    #memberFooter {
        grid-area: footerArea;
        display:block;
        padding-top:5px;
        text-align: center;
        color:white;
        background-color: var (--member-bg-color);
        background-color:lightgray;
    }
    #instructorFooter {
        grid-area: footerArea;
        display:block;
        padding-top:5px;
        text-align: center;
        color:white;
        background-color:  var (--instructor-bg-color);
        background-color:lightgray;
    }
    .colorCtrl {
        margin-left:10px;
        margin-top:4px;
        margin-bottom:0px;
    }
    /*
    .footerClearBtn {
        margin-right:20px;
        margin-top:0px;
        margin-bottom:5px;
        padding-top:0px;
        padding-bottom:5px;
    }
    .footerResetBtn {
        margin-left:20px;
        margin-top:0px;
        margin-bottom:5px;
    } */
}

/* Laptop size */
@media (min-width: 1280px) {
    .parent {
        width:100%;
        height: 100%;
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 50px 50px 1fr 40px;
        grid-template-areas:"hdgArea locationSelectorArea versionArea"
                            "machineSelectorArea memberSelectorArea instructorSelectorArea" 
                            "machineDetailArea memberDetailArea instructorDetailArea"
                            "machineFooterArea memberFooterArea instructorFooterArea";
        gap:0px;
        background-color:gray;
        top:0; bottom:0; left:0; right:0;
    }
    .heading {
        grid-area: hdgArea;
        padding-top: 3px;
        padding-bottom:0px;
        padding-left:10px;
        text-align: left;
        background-color:navy;
        color: var(--main-txt-color);
    }

    .version {
        grid-area:versionArea;
        font-size:.75rem;
        padding-top:10px;
        padding-right:10px;
        align-items: center;
        text-align: right;
        background-color: navy;
        color:white;
    }

    .locationSelector {
        grid-area:locationSelectorArea;
        background-color: navy;
        padding-top:10px;
        padding-bottom:0px;
        margin:0;
        padding-left:5px;
        width:100%;
    }
    .machineSelector {
        padding-top:5px;
        padding-bottom:0px;
        padding-left:10px;
        padding-right:10px;
        margin:0;
        background-color: var(--machine-bg-color);
    }
  
    .memberSelector {
        padding-top:5px;
        padding-bottom:0px;
        padding-left:10px;
        padding-right:10px;
        margin:0;
        background-color:var(--member-bg-color);
    }
  
    #memberSelected {
        width:300px;
    }
 
    .instructorSelector {
        padding-top:5px;
        padding-bottom:0px;
        padding-left:10px;
        padding-right:10px;
        margin:0;
        background-color: var(--instructor-bg-color);
    }                          

    #instructorSelected {
        padding-top:5px;
        padding-bottom:0px;
        padding-left:30px;
        margin:0;
        width:100%;
    }
    
    #machineDetailSection {
        grid-area:machineDetailArea;
        background-color:var(--machine-bg-color);
        padding-top:10px;
        margin-top:0px;
        display:block;
        height:1000px;
        width:100%;
        overflow:auto;
        font-size: 1rem;
    }
    #machineDescription {
        background-color: white;
        color:navy;
        margin-top:5px;
    }

    .staffSection {
        margin-left:150px;
    }
    /* .instructorListHdg {
        margin-left:10px
    } */
    /* .instructorListDtl {
        margin-left:70px
    } */
    /* #keyInToolCrib {
        border:1px solid red;
        background-color: blue;
        color:white;
    }
    #keyProvider {
        border:1px solid fuchsia;
    } */
    /* .certifiedMemberName {
        text-align: left;
        padding:70px;

    } */
    .usageDateAndName {
        text-align: left;
        width:400px;
        margin-left:150px;
        font-size: 1rem;
    }
    /* .noUsage {
        margin-left:150px;
    } */
    /* .usageMemberName {
        width:200px;
        color:red;
    } */
    #memberDetailSection {
        grid-area:memberDetailArea;
        background-color: var(--member-bg-color);
        text-align:center;
        padding-top:10px;
        margin-top:0px;
        display:block;
        font-size:1rem;
        height:1000px;
        width:100%;
        overflow:auto
    }
    /* #memberMachines {
        grid-area:detail2Area;
        background-color: aliceblue;
    } */

    /* #memberData {
        width:100%;
    } */
    #instructorDetailSection {
        grid-area:instructorDetailArea;
        background-color: var(--instructor-bg-color);
        text-align:center;
        padding-top:10px;
        margin:auto;
        margin-top:0px;
        height:1000px;
        width:100%;
        display:block;
        overflow:auto;
        font-size: 1rem;
    }
    /* #instructorMachines {
        margin-left:30px;
        margin-right:0px;
        padding-bottom: 200px;
    } */

    .instrMachHdg {
        font-size:.75rem;
        text-align: left;
        margin-left:10px;
    }
    .instrMachRow {
        padding-left:30px;
    }
    
    /* #footer {
        grid-area: footerArea;
        background-color: navy;
    } */
}



/* Macbook Pro 2560 x 1600 */
@media (min-width: 1440px) {
    .parent {
        width:100%;
        height: 780px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 50px 650px 40px;
        grid-template-areas:"hdgArea locationArea versionArea"
                            "machineSelectorArea memberSelectorArea instructorSelectorArea" 
                            "machineDetailArea memberDetailArea instructorDetailArea"
                            "machineFooterArea memberFooterArea instructorFooterArea";
        gap:0px;
        background-color:lightgray;
        top:0; bottom:0; left:0; right:0;
        overflow-y:hidden;
    }
    .heading {
        grid-area: hdgArea;
        padding-top: 3px;
        padding-bottom:0px;
        padding-left:10px;
        text-align: left;
        background-color:navy;
        color: var(--main-txt-color);
    }

    .version {
        grid-area:versionArea;
        font-size:.75rem;
        padding-top:10px;
        padding-right:10px;
        align-items: center;
        text-align: right;
        background-color: navy;
        color:white;
    }

    .locationSelector {
        grid-area:locationArea;
        padding-top:10px;
        padding-bottom:0px;
        margin:0;
        padding-left:5px;
        width:100%;
        text-align: center;
        background-color:navy;
        color: var(--main-txt-color);
    }
    /* .machineSelector {
        grid-area:machineSelectorArea;
        background-color:var(--machine-bg-color);
        padding-top:5px;
        padding-bottom:0px;
        margin:0;
        width:100%;
    } */
    /* #machineSelector {
        background-color: lightcoral;
    } */
    

    /* #machineSelected {
        padding-left:100px;
        width:500px;
    } */
    .memberSelector {
        grid-area:memberSelectorArea;
        background-color: var(--member-bg-color);
        padding-top:5px;
        padding-bottom:0px;
        padding-left:30px;
        margin:0;
        width:100%;
    }
    /* #memberSelector {
        grid-area:memberSelectorArea;
        padding-top:0px;
        padding-bottom:0px;
        margin:0;
        width:100%;
    } */
    #memberSelected {
        width:300px;
    }

    /* .instructorSelector {
        grid-area:instructorSelectorArea;
        background-color: var(--instructor-bg-color);
        padding-top:5px;
        padding-bottom:0px;
        padding-left:30px;
        margin:0;
        width:100%;
    }                          */
    #instructorSelected {
        width:300px;
    }
    
    #machineDetailSection {
        grid-area:machineDetailArea;
        background-color: var(--machine-bg-color);
        padding-top:0px;
        margin-top:0px;
        display:block;
        height:1450px;
        width:100%;
        overflow:auto;
    }
    #machineDescription {
        background-color: white;
        color:green;
        margin-top:5px;
    }
    #machineBtns {
        align-content: center;
        margin-bottom:5px;
    }
    #machineDurationAndKeyLocation {
        display:none;
        border:1px solid black;
        background-color: antiquewhite;
        color:green;
    }
    /* #authorizationDuration {
        background-color: white;
        color:green;
    }
    #keyInToolCrib {
        background-color: white;
        color:green;
    }
    #keyProvider {
        background-color: white;
        color:green;
    } */

    /* .usageDateAndName {
        text-align:left;
        width:400px;
        margin-left:60px;
    } */
    /* .usageMemberName {
        width:200px;
        color:red;
    } */
    #memberDetailSection {
        grid-area:memberDetailArea;
        background-color: var(--member-bg-color);
        text-align:center;
        padding-top:10px;
        margin-top:0px;
        display:block;
        font-size:large;
        height:1450px;
        width:100%;
        overflow:auto
    }
    .memberNameHdg {
        background-color: white;
        width:450px;
        margin:auto;
    }
    .certifiedHdg {
        text-align: center;
    }
    /* #memberMachineList {
        font-size: .75rem;
    } */
    .mbrMachRow {
        margin-left:10px;
        padding-left:0px;
        font-size: .75rem;
        height:30px;
    }
    
    .expired {
        text-decoration: line-through;
        background-color: yellow;
    }

    /* .certifyChkbox {
        font-size: .75rem;
    } */
    #instructorDetailSection {
        grid-area:instructorDetailArea;
        background-color: var(--instructor-bg-color);
        text-align:center;
        padding-top:10px;
        margin:auto;
        margin-top:0px;
        height:1450px;
        width:100%;
        display:block;
        overflow:auto;
    }
    #instructorData {
        margin-left:0px;
    }
    .instructorNameHdg {
        text-align: center;
        background-color: white;
        color:green;
        margin-left:10px;
        margin-right:10px;
    }
    .contactData {
        margin-left:100px;
    }
    .instrMachHdg {
        font-size:.6rem;
        text-align: center;
        margin-left:2px;
    }
    .instrMachRow {
        padding-left:10px;
    }
    #instructorMachines {
        padding-left: 10px;
        margin-left: 10px;
        font-size: 1rem;
    }
    #machineFooter {
        grid-area: machineFooterArea;
        text-align: center;
        color: var (--machine-bg-color);
        background-color: var (--machine-fg-color);
    }
    #memberFooter {
        grid-area: memberFooterArea;
        text-align: center;
        color:white;
        background-color: var (--member-bg-color);
    }
    #instructorFooter {
        grid-area: instructorFooterArea;
        text-align: center;
        color:white;
        background-color:  var (--instructor-bg-color);
    }
}

/* Monitor 1920x1080 */
@media (min-width: 1920px) {
    .parent {
        width:100%;
        height: 950px;
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 50px 50px 810px 50px;
        grid-template-areas:"hdgArea locationSelectorArea versionArea"
                            "machineSelectorArea memberSelectorArea instructorSelectorArea" 
                            "machineDetailArea memberDetailArea instructorDetailArea"
                            "machineFooterArea memberFooterArea instructorFooterArea";
        gap:0px;
        background-color:lightgray;
        top:0; bottom:0; left:0; right:0;
        overflow-y:hidden;
    }
    .heading {
        grid-area: hdgArea;
        padding-top: 3px;
        padding-bottom:0px;
        padding-left:10px;
        text-align: left;
        background-color:navy;
        color: var(--main-txt-color);
    }

    .version {
        grid-area:versionArea;
        font-size:.75rem;
        padding-top:10px;
        padding-right:10px;
        align-items: center;
        text-align: right;
        background-color: navy;
        color:white;
    }

    .locationSelector {
        grid-area:locationSelectorArea;
        padding-top:10px;
        padding-bottom:0px;
        margin:0;
        padding-left:5px;
        width:100%;
    }
    /* .machineSelector {
        grid-area:machineSelectorArea;
        background-color:var(--machine-bg-color);
        padding-top:5px;
        padding-bottom:0px;
        padding-left:0px;
        text-align: center;
        width:100%;
    } */
    
    /* .memberSelector {
        grid-area:memberSelectorArea;
        background-color: var(--member-bg-color);
        padding-top:5px;
        padding-bottom:0px;
        padding-left:0px;
        text-align:center;
        width:100%;
    } */
   
    #memberSelected {
        width:300px;
    }

    /* .instructorSelector {
        grid-area:instructorSelectorArea;
        background-color: var(--instructor-bg-color);
        padding-top:5px;
        padding-bottom:0px;
        padding-left:0px;
        text-align: center;
        width:100%;
    }                          */
    #instructorSelected {
        width:300px;
    }
    
    #machineDetailSection {
        grid-area:machineDetailArea;
        background-color:var(--machine-bg-color);
        padding-top:10px;
        margin-top:0px;
        display:block;
        width:100%;
        height:1000px;
        overflow:auto;
        font-size: 1rem;
    }
    /* .instructorListHdg {
        text-align:left;
        margin-left: 90px;
    } */
    .noInstructors {
        text-align: left;
        margin-left:110px;
    }
    .instructorName {
        text-align:left;
        width:300px;
        margin-left:110px; 
    }
    /* .memberListHdg {
        text-align: left;
        padding-top:30px;
        margin-left:90px;
    } */
    /* .noMembers {
        text-align: left;
        margin-left:110px;
    } */
    /* .certifiedMemberName {
        text-align: left;
        margin-left:110px;

    } */
    /* .machineUsageHdg {
        text-align:left;
        margin-top:20px;
        margin-left:90px;
    } */
    /* .noUsage {
        margin-left:110px;
    } */
    /* .usageDateAndName {
        text-align: left;
        width:400px;
        margin-left:110px;
        font-size: 1rem;
    } */
    /* .usageMemberName {
        width:200px;
        color:red;
    } */
    #memberDetailSection {
        grid-area:memberDetailArea;
        background-color: var(--member-bg-color);
        text-align:center;
        padding-top:10px;
        margin-top:0px;
        display:block;
        font-size:1rem;
        width:100%;
        height:1100px;
        overflow:auto
    }
    /* #memberMachines {
        grid-area:detail2Area;
        background-color: aliceblue;
    } */

    /* #memberData {
        width:100%;
    } */
    #instructorDetailSection {
        grid-area:instructorDetailArea;
        background-color: var(--instructor-bg-color);
        text-align:center;
        padding-top:10px;
        margin:auto;
        margin-top:0px;
        width:100%;
        display:block;
        overflow:auto;
        font-size: 1rem;
    }
    #instructorData {
        margin-left:50px;
    }
    .instructorNameHdg {
        text-align: center;
        background-color: white;
        color:green;
        margin-left:5px;
    }
    #instructorMachines {
        padding-left: 30px;
        margin-left: 40px;
    }
    /* #instructorMachines {
        margin-left:30px;
        margin-right:0px;
        padding-bottom: 200px;
    } */
    .instrMachHdg {
        font-size:.70rem;
        text-align: center;
        margin-left:0px;
    }
    .instrMachRow {
        padding-left:5px;
    }
    
    /* #footer {
        text-align: center;
        grid-area: footerArea;
        background-color: navy;
    } */
}
/* MODAL CSS */
/* .modal-dialog {
    width:900px;
    height:600px !important;
}
.modal-content {
    height:100%;
    background-color:#BBD6EC;
}
.modal-body {
    overflow: scroll;
} */

/* .newMachineLabel {
    text-align:right;
    margin-left:30px;
}
.newMachineData {
    text-align:left;
} */
/* #newMachine .modal-header {
    background-color: green;
    color:white;

} */
/* #newMachine .modal-footer {
    background-color: green;
} */
/* #closeNewMachineModal {
    padding-top:0px;
    margin-top:0px;
} */