{% extends 'base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block app_content %}

<div class="parent">
    <!-- HEADING SECTION -->
    <div class="heading">
        <h2>Machine Authorization</h2>    
    </div>

    <!-- LOCATION SELECTOR SECTION -->
    <div class="locationSelector">
        <label for="shopChoice">Location: </label>
        <select id="shopChoice" class="shopChoice" name="shopList" style="height:25px; width:125px; font-size: 1em;">
            <option id='BOTH' class="locationOption" value="BOTH">Both</option>
            <option id='RA' class="locationOption" value="RA">Rolling Acres</option>
            <option id='BW' class="locationOption" value="BW">Brownwood</option>   
        </select>  
    </div>

    <!-- VERSION SECTION -->
    <div class="version">
        <h5 id="versionText">ver. date</h5>
    </div>  
      
    <!-- SELECTION AREA -->
    
    
    <!--LIST OF MACHINES -->
    <div class="machineSelector">
        <select 
            id='machineSelected' 
            class="selectpicker"
            title='Select a machine ...' 
            data-live-search=true 
            data-live-search-style="contains" 
            data-width='350px'>
            <option class="optMachines" value="">Select a machine ...</option>
            {% for m in machineList %}
                <option 
                    class="optMachineName {{m.machineLocation}}" 
                    data-machineID={{m.machineID}} 
                    data-location={{m.machineLocation}} 
                    data-duration={{m.certificationDuration}}
                    data-keyInToolCrib={{m.keyInToolCrib}}
                    data-keyProvider={{m.keyProvider}}
                    value='{{m.machineDisplayName}}'>
                    {{m.machineDisplayName}}
                </option>
            {% endfor %}
        </select> 
    </div>

    <!--List of members -->
    <div class="memberSelector" >
        <select 
            id='memberSelected' 
            class='memberSelection selectpicker' 
            title='Select a member ...' 
            data-live-search=true 
            data-live-search-style="contains" 
            data-width='350px'>
            <option class="optMembers" value="">Select a member ...</option>
            {% for mbr in memberList %}
                <option  
                    class="optMembers" 
                    data-villageid={{mbr.villageID}}
                    value={{mbr.memberDisplayName}}>
                    {{mbr.memberDisplayName}}
                </option>
            {% endfor %}
        </select>
    </div>

    <!--List of instructors -->
    <div class="instructorSelector" >
        <select 
            id='instructorSelected' 
            class='instructorSelection selectpicker' 
            title='Select an instructor ...' 
            data-live-search=true 
            data-live-search-style="contains" 
            data-width='350px'>
            <option class="optInstructors" value="">Select an instructor ...</option>
            {% for i in instructorList %}
                <option  
                    class="optinstructors" 
                    data-villageID={{i.villageID}}
                    value={{i.instructorDisplayName}}>
                    {{i.instructorDisplayName}}
                </option>
            {% endfor %}
        </select>
    </div>

    <div id="machineDetailSection">
        <div id='machineBtns' class="row" >
            <div class="col-3"></div>
            <div id='machineBtnGroup' class="col-6 btn-group">
                <button type="button" id='btnEditMachine' disabled class="btn btn-success btn-sm" 
                    style="display:inline-block" onclick="showEditMachineModal()">EDIT</button>
                <button type="button" id='btnDeleteMachine' disabled class="btn btn-danger btn-sm" 
                    style="display:inline-block" onclick="deleteMachine()">DELETE</button>
                <button type="button" id='btnNewMachine' class="btn btn-primary btn-sm" 
                    style="display:inline-block" onclick="showNewMachineModal()">NEW</button>
            </div>
        </div>
        <!-- <div id="machineDurationAndKeyLocation">
            <div class="col-2"></div>
            <div id="machineDuration" class="col-3"></div>
            <div class="col-3">
                <input type="radio" name="keyLocation" id="keyTC">
                <label for="keyLocation">TC</label>
            </div>
            <div class="col-3">
                <input type="radio" name="keyLocation" id="keyKP">
                <label for="keyLocation">KP</label>
            </div>
        </div> -->
        <div id="machineInstructorsAndMembers"></div> 
    </div>

    <div id="machineFooter">
        <button id="clearMachineData" class="footerClearBtn" onclick="clrMachineData()">CLEAR</button>
        <button id="listMachines" class="footerClearBtn" onclick="listMachines()">LIST MACHINES</button>
        <label for="colorWellInstrBG" class="colorCtrl">BG:</label>
        <input type="color" class="colorCtrl" value="#ff0000" id="colorWellMachineBG">
        <label for="colorWellMachineFG" class="colorCtrl" >Text:</label>
        <input type="color" class="colorCtrl" value="#000000" prompt="TEXT" id="colorWellMachineFG">
        <!-- <button class="colorCtrl footerResetBtn btn btn-sm btn-primary" onclick="recolorCtrl('machine')" style="margin-top:0px;margin-bottom:4px;">RESET</button> -->
    </div> 
    <div id="memberDetailSection">
        <div id="currentMember" style="display:block"></div>
        <div id="memberData"></div>
        <div id="memberMachines"></div>
    </div>  
    <div id="memberFooter">
        <button id="clearMemberData" class="footerClearBtn"  onclick="clrMemberData()">CLEAR</button>
        <button id="listCertifiedMembers" class="footerClearBtn" onclick="listCertifiedMembers()">LIST AUTHORIZED</button>
        <button id="printMemberData"onclick="prtMemberCertifications()">PRINT CURRENT</button>
        <label for="colorWellMemberBG" class="colorCtrl">BG:</label>
        <input type="color" class="colorCtrl" value="#ff0000" id="colorWellMemberBG">
        <label for="colorWellMemberFG" class="colorCtrl" >Text:</label>
        <input type="color" class="colorCtrl" value="#000000" prompt="TEXT" id="colorWellMemberFG">
        <!-- <button class="colorCtrl btn btn-sm btn-primary footerResetBtn" onclick="recolorCtrl('member')">RESET</button> -->
    </div>
    <div id="instructorDetailSection">
        <div id="instructorData"></div>
        <div id="instructorMachines"></div> 
    </div> 
    <div id="instructorFooter">
        <button id="clearInstructorData" class="footerClearBtn"  onclick="clrInstructorData()">CLEAR</button>
        <button id="listStaff" class="footerClearBtn" onclick="listStaff()">LIST STAFF</button>
        <label for="colorWellInstrBG" class="colorCtrl">BG:</label>
        <input type="color" class="colorCtrl" value="#ff0000" id="colorWellInstrBG">
        <label for="colorWellInstrFG" class="colorCtrl">Text:</label>
        <input type="color" class="colorCtrl" value="#000000" prompt="TEXT" id="colorWellInstrFG">
        <!-- <button class="colorCtrl btn btn-sm btn-primary footerResetBtn" onclick="recolorCtrl('instructor')">RESET</button> -->
    </div>
    
</div>  <!-- END OF PARENT WRAPPER -->


<!-- Modal for error messages. -->
<div class="modal fade" id="myModalMsg" tabindex="-1" role="dialog" aria-   labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalTitle"></h5>
				<button type="button" class="close" onclick=closeModal() aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id=modalBody style=width:fit-content>
			</div>
			
				<div class="modal-footer">
				<button type="button" class="btn btn-primary" onclick=closeModal() data-dismiss="modal">CLOSE</button>
			</div>
		</div>
	</div>
</div>

<!-- machineModal -->
<div class="modal" id="machineModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header machineModalHeader">
          <h4 class="modal-title" id="machineModalTitle"></h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          <div id="machineTransactionType" style="display:none"></div>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <div class="row">
                <div class="col-4 machineLabel">
                    <label for="machineDescription">Description</label>
                </div>
                <div class="col-5 machineData">
                    <input type="text" id="machineDescription" size="30" >
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-4 machineLabel">
                    <label for="machineLocation">Location</label>
                </div>
                <div class="col-5 machineData">
                    <select name="" id="machineLocation">
                        <option value="RA">Rolling Acres</option>
                        <option value="BW">Brownwood</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-4 machineLabel">
                    <label for="newCertificationDuration">Suggested Duration</label>
                </div>
                <div class="col-5 machineData">
                    <select name="" id="certificationDuration">
                        <option value="UNL">Unlimited</option>
                        <option value="365 days">365 days</option>
                        <option value="180 days">180 days</option>
                        <option value="90 days">90 days</option>
                        <option value="30 days">30 days</option>
                        <option value="7 days">7 days</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-4 machineLabel">
                    <label for="keyInToolCribID">Key in tool crib</label>
                </div>
                <div class="col-5 machineData">
                    <input type="radio" id="keyInToolCribID"  name="keyLocation">
                </div>
            </div>
            <div class="row">
                <div class="col-4 machineLabel">
                    <label for="keyProviderID">Call key provider</label>
                </div>
                <div class="col-5 machineData">
                    <input type="radio" id="keyProviderID" name="keyLocation">
                </div> 
            </div>
        </div> 
       
        <!-- Modal footer -->
        <div class="modal-footer machineModalFooter">
          <button id='closemachineModal' type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
          <button id='savemachineModal' type="button" class="btn btn-success" onclick="saveMachineData()">Save</button>
        </div>
  
      </div>
    </div>
  </div>

<!-- CERTIFY MEMBER MODAL -->
<div class="modal" id="certifyMemberModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header certifyMemberModalHeader">
          <h4 class="modal-title">MEMBER AUTHORIZATION FOR A SPECIFIC MACHINE</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <div class="row">
                <div class="col-4 certifyLabel">
                    <label for="certifyMachineID">Machine ID</label>
                </div>
                <div class="col-5 certifyData">
                    <input type="text" id="certifyMachineID" readonly size="7" >
                </div>
            </div>
            <div class="row">
                <div class="col-4 certifyLabel">
                    <label for="certifyDateCertified">Description</label>
                </div>
                <!-- show description (location) readonly -->
                <div class="col-5 certifyData">
                    <input type="text" id="certifyDescription" size="30" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-4 certifyLabel">
                    <label for="certifyDateCertified">Date certified</label>
                </div>
                <div class="col-5 certifyData">
                    <input type="date" id="certifyDateCertified"  size="30">                  
                </div>
            </div>
            <div class="row">
                <div class="col-4 certifyLabel">
                    <label for="certifyDuration">Certification Duration</label>
                </div>
                <div class="col-5 certifyData">
                    <select id="certificationDuration" name="">
                        <option value="UNL">Unlimited</option>
                        <option value="365 days">365 days</option>
                        <option value="180 days">180 days</option>
                        <option value="90 days">90 days</option>
                        <option value="30 days">30 days</option>
                        <option value="7 days">7 days</option>
                    </select>
                </div>
                
            </div>
            
            <div class="row">
                <div class="col-4 certifyLabel">
                    <label for="certifyCertifiedBy">Certified by</label>
                </div>
                <div class="col-5 certifyData">
                    <select name="" id="certificationModalInstructors">
                        <!-- for loop of instructors for this machine -->
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div> 
       
        <!-- Modal footer -->
        <div class="modal-footer certifyMemberModalFooter">
            <div id="certifyTransactionType" style="display:none"></div>
            <button id='closecertifyMemberModal' type="button" class="btn btn-primary" onclick='cancelCertificationModal()' data-bs-dismiss="modal">Cancel</button>
            <button id='savecertifyMemberModal' type="button" class="btn btn-success" onclick="saveCertificationModal()">Save</button>
            <button id='deleteAuthorizationModal' type="button" onclick='deCertifyMember()' class="btn btn-danger" data-bs-dismiss="modal">Remove Authorization</button>
        </div>
  
      </div>
    </div>
  </div>

  {% endblock %}

{% block scripts %}
    {{super()}}
    <script src="{{ url_for('static', filename='js/index.js') }}"> </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
