{% extends 'base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rptMachineList.css', _external=True) }}">
{% endblock %}

{% block content %} 
<div class='wholePage'>
    <div class="hdg">
        <div class='pageButtons'>
            <button id="printPageButton" class='btn btn-primary btn-sm' onClick="window.print();">PRINT</button>
            <button id="closePageButton" class='btn btn-secondary btn-sm' onclick="window.history.back()" >CLOSE</button>
        </div>
        <br><br>
        <div class='title' text-align:center>
            <h1>THE VILLAGES WOODWORKERS CLUB</h1>
        </div>

        <div class='subTitles' text-align:center>
            <h3>MACHINES REQUIRING AUTHORIZATION</h3>
            <h3>{{shopName}}</h3>
            <h3>As of {{todaysDate}}</h3>
        </div>   
    </div>  
    <br>
    <table>
        <thead>
            <th>Machine</th>
            <th>Machine ID</th>
	    <th>Key #</th>
            <th style="text-align:center">Suggested Duration</th>
            <th class="chkMark">Key In Tool Crib</th>
            <th class="chkMark">Call Key Provider</th>
        </thead> 
        {% for m in machinesDict %} 
            <tr id=machineLine>
                <td>{{m['machineDesc']}}</td>
                <td>{{m['machineID']}}</td>
                <td>{{m['keyNumber']}}</td>
                <td style="text-align:center">{{m['machineDuration']}}</td>
                <td class="chkMark">{% if m['keyInToolCrib'] == True %}&#10004;{% else %}&nbsp;{% endif %}</td>
                <td class="chkMark">{% if m['keyProvider'] == True %}&#10004;{% else %}&nbsp;{% endif %}</td>
            </tr>  
        {% endfor %}
    </table> 
      
</div>
{% endblock %}
